.movies-list {
  max-width: 1280px;
  min-width: 320px;
  box-sizing: border-box;
  padding: 70px 70px 80px 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.movies-list__container {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 30px;
  column-gap: 24px;
  margin-bottom: 80px;
}

