.movies-list {
  max-width: 1280px;
  min-width: 320px;
  box-sizing: border-box;
  padding: 70px 70px 80px 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.movies-list__container {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 30px;
  column-gap: 24px;
  margin-bottom: 80px;
}

.movies-list__btn {
  cursor: pointer;
  width: 320px;
  height: 36px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #2f2f2f;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  border: none;
}
