.portfolio__item {
  border-bottom: 1px solid #424242;
  margin-bottom: 20px;
}

.portfolio__item:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.portfolio__item-link {
  width: 100%;
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  margin: 0;
}

.portfolio__item-name {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  padding-bottom: 19px;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.portfolio__item-arrow {
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -0.04em;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.portfolio__item-link:hover .portfolio__item-name {
  color: #3ddc84;
  transform: scale(1.01);
}

.portfolio__item-link:hover {
  color: #3ddc84;
  transform: scale(1.01);
}

@media screen and (max-width: 768px) {
  .portfolio__item {
    border-bottom: 1px solid #e6e6e6;
  }

  .portfolio__item-name {
    font-size: 28px;
    padding-bottom: 19px;
  }

  .portfolio__item-arrow {
    font-size: 28px;
    line-height: 60px;
  }
}

@media screen and (max-width: 570px) {
  .portfolio__item-name {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__item-arrow {
    font-size: 18px;
    line-height: 28px;
  }
}
