.logo__link {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
}

.logo {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  padding: 0;
  transition: transform 0.2s ease-in-out;
  margin: 0;
}

.logo:hover {
  transform: scale(1.1);
}
