.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: transparent;
  z-index: 1;
}

.header__content {
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
  box-sizing: border-box;
  padding: 18px 70px 18px 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.header__btn_signup {
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  background-color: transparent;
  border: none;
  margin-right: 30px;
  transition: opacity 0.3s ease-in-out;
}

.header__btn_signup:hover {
  opacity: 0.6;
}

.header__btn_signin {
  cursor: pointer;
  background-color: #3ddc84;
  border: none;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  width: 76px;
  height: 32px;
  transition: opacity 0.3s ease-in-out;
}

.header__btn_signin:hover {
  opacity: 0.6;
}

.header__btn_account {
  width: 100px;
  height: 32px;
  background-color: #313131;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-decoration: none;
}

.header__btn_account:hover {
  background-color: #3ddc84;
}

.header__nav-movies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
