.checkbox__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 30px 0;
  }
  
  .checkbox {
    visibility: hidden;
  }
  
  .checkbox__label {
    position: relative;
    width: 36px;
    height: 20px;
    border-radius: 20px;
    background-color: #2f2f2f;
    cursor: pointer;
    display: inline-block;
    margin-right: 12px;
  }
  
  .checkbox:checked + .checkbox__label {
    background-color: #3ddc84;
  }
  
  .checkbox__ball {
    background-color: #fff;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    align-items: center;
    justify-content: center;
    animation: slideOff 0.3s linear forwards;
  }
  
  .checkbox:checked + .checkbox__label .checkbox__ball {
    animation: slideOn 0.3s linear forwards;
  }
  
  .checkbox__text {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #fff;
  }
  
  @keyframes slideOn {
    0% {
      transform: translateX(0px) scale(1);
    }
    50% {
      transform: translateX(8px) scale(1.2);
    }
    100% {
      transform: translateX(16px) scale(1);
    }
  }
  
  @keyframes slideOff {
    0% {
      transform: translateX(16px) scale(1);
    }
    50% {
      transform: translateX(8px) scale(1.2);
    }
    100% {
      transform: translateX(0px) scale(1);
    }
  }
  