.footer {
  width: 100%;
  font-style: normal;
  display: flex;
  flex-direction: column;
  background-color: #202020;
}

.footer__content {
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 79px 70px 20px 70px;
}

.footer__title {
  width: 100%;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #8b8b8b;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #424242;
  margin: 0 0 20px 0;
}

.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}

.footer__links {
  display: flex;
  flex-direction: row;
}

.footer__link {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.footer__link:hover {
  color: #3ddc84;
}

.footer__link:last-of-type {
  margin: 0;
}
